@font-face {
  font-family: 'Fontin';
  src: url('./fontin/Fontin-Regular.ttf');
}

@font-face {
  font-family: 'Fontin';
  src: url('./fontin/Fontin-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Fontin';
  src: url('./fontin/Fontin-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Fontin SmallCaps';
  src: url('./fontin/Fontin-SmallCaps.ttf');
}