@import "./colors.scss";

@mixin card {
  background: $card-background-light;
  box-shadow: -1px 1px 1px 1px hsla(0, 0%, 0%, .1);
}

@mixin game-kind-background {
  color: white;
  font-family: "League Spartan";
  text-align: center;
  text-shadow: -1px 1px 1px hsla(0, 0%, 0%, .1);
  &.the-sprawl {
    background: linear-gradient(-45deg, #ff5ea3, #0d0d4f);
  }
  &.blades-in-the-dark {
    background: linear-gradient(160deg, #17171c, #b22a2a);
  }
  &.stranger-roads {
    background: linear-gradient(20deg, #20befc, #fff9f9);
  }
}

@mixin game-kind-header {
  padding: 20px;
  font-size: 40px;
  @include game-kind-background;
}

@mixin button {
  background: none;
  border: none;
  border-radius: 0;  
  padding: 0;
  font-size: inherit;
  &:focus {
    outline: none;
  }
  &:not(:disabled) {
    cursor: pointer;
  }
}

@mixin link {
  text-decoration: none;
  color: black;
  &.active {
    cursor: default;
  }
}

@mixin input {
  border: 0;
  &:focus {
    outline: 0;
  } 
}